/* Write your global styles here, in PostCSS syntax */

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-size: 16px;
}

/*:: -webkit-scrollbar-track {*/
/*  background-color: #4b4237;*/
/*}*/

/*:: -webkit-scrollbar-thumb {*/
/*  background-color: #d5a021;*/
/*  border-radius: 20%;*/
/*}*/